Repository kubernetes-sigs/zeitgeist, pull requests merged in 2022-04, with the labels that each got.

#146 add version commad
  Makefile
  commands/commands.go
  go.mod
  go.sum
Labels: kind/feature, cncf-cla: yes, size/M, sig/release, lgtm, approved

#145 list tags when there are no releases available
  pkg/gitlab/gitlab.go
  pkg/gitlab/gitlab_test.go
  pkg/gitlab/gitlabfakes/fake_client.go
  upstream/github.go
  upstream/gitlab.go
Labels: kind/feature, cncf-cla: yes, sig/release, size/L, lgtm, approved

#147 add github action to run the release and update goreleaser and use ko to build the images
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  .ko.yaml
  Dockerfile
  Dockerfile-goreleaser
  Dockerfile-tests
  Makefile
Labels: kind/feature, cncf-cla: yes, sig/release, size/L, lgtm, approved

#149 Skip pre-releases from helm upstreams
  testdata/helm-repo/index.yaml
  upstream/helm.go
  upstream/helm_test.go
Labels: kind/feature, cncf-cla: yes, size/M, ok-to-test, sig/release, lgtm, approved

#170 fix RemoteExport() returning already up-to-date dependencies
  dependency/dependency.go
  dependency/dependency_test.go
Labels: kind/bug, cncf-cla: yes, ok-to-test, sig/release, size/S, lgtm, approved

#175 upgrade to go1.18 and update golangci-lint
  go.mod
  go.sum
  hack/verify-golangci-lint.sh
Labels: cncf-cla: yes, size/XXL, sig/release, lgtm, approved
