Repository kubernetes-sigs/zeitgeist, pull requests merged in 2023-11, with the labels that each got.

#732 Upgrade go and bump ci tools
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  .go-version
  .ko.yaml
  Makefile
  buoy/go.mod
  buoy/go.sum
  cloudbuild.yaml
  go.mod
  go.sum
  hack/verify-golangci-lint.sh
Labels: kind/feature, cncf-cla: yes, size/M, sig/release, lgtm, kind/cleanup, approved

#748 fix archives
  .goreleaser.yml
Labels: kind/bug, cncf-cla: yes, sig/release, size/XS, lgtm, kind/cleanup, approved

#763 Fix incorrect latest version for github/gitlab upstreams
  upstream/github.go
  upstream/github_test.go
  upstream/gitlab.go
  upstream/upstream.go
Labels: kind/bug, cncf-cla: yes, sig/release, size/L, lgtm, approved
