Repository kubernetes-sigs/zeitgeist, pull requests merged in 2024-01, with the labels that each got.

#808 Preserve version number formatting during upgrade
  dependency/dependency.go
  dependency/version.go
  dependency/version_test.go
Labels: kind/feature, cncf-cla: yes, size/M, ok-to-test, sig/release, lgtm, approved

#809 Add zeitgeist upgrade --base-path and upgrade unit tests
  commands/upgrade.go
  dependency/dependency.go
  dependency/dependency_test.go
Labels: kind/bug, kind/feature, cncf-cla: yes, ok-to-test, sig/release, size/L, lgtm, approved

#822 Updates for dependabot and release job
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
Labels: cncf-cla: yes, sig/release, size/S, lgtm, kind/cleanup, approved
